---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/8.8.8.8?access_key=test-key&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "ip": "8.8.8.8",
          "country_name": "United States",
          "country_code": "US",
          "region_name": "California",
          "city": "Mountain View",
          "zip": "94043",
          "latitude": 37.4056,
          "longitude": -122.0775,
          "time_zone": { "id": "America/Los_Angeles" },
          "currency": { "code": "USD" }
        }
  recorded_at: Fri, 01 Jan 2027 00:00:00 GMT
recorded_with: VCR 6.4.0
